<div class="left">
  <div id="headshot">
    <a href="/"><img src="../assets/headshot.jpg"></a>
  </div>
  <a id="navi" href="/"><h1>Anthony Pinter.</h1></a>
  <ul id="navi">
    <li id="navi-home">
      <a id="navi" href="../">home.</a>
    </li><p></p>
    <li id="navi-about">
      <a id="navi" href="../about">about.</a>
    </li><p></p>
    <li id="navi-publications">
      <a id="navi" href="../publications">publications.</a>
    </li><p></p>
    <li id="navi-publications">
      <a id="navi" href="../projects">projects.</a>
    </li><p></p>
    <li id="navi-about">
      <a id="navi" href="../cv">cv.</a>
    </li><p></p>
    <li id="navi-publications">
      <a id="navi" href="../contact">contact.</a>
    </li><p></p>
  </ul>
</div>
