---
layout: default
section_id: home
---



  <div id="home" class="card">
    <h2>recent publications.</h2>
    <ul>
      {% for item in site.data.publications limit: 4 %}
      <li>
        <div id="p-info">
          <span id="p-author">{{item.authors}}. </span><span id="p-author">{{item.year}}.</span>
          <span id="p-title">{{item.title}}.</span>
          <span id="p-source"><em>{{item.venue}}.</em></span><br>
          {% if item.pdf %}
          <span id="p-source"><a href="./assets/papers/{{item.pdf}}">PDF</a></span>
          {% endif %}
          {% if item.blog %}
            <span id="p-source"><a href="{{item.blog}}">Blog</a>
          {% endif %}
          <p>
        </div>
      </li>
      {% endfor %}
      </ul>
      <div id="news">
        <div id="news-more">
          <a href="https://scholar.google.com/citations?user=Vq_3XusAAAAJ&hl=en&oi=ao">more via google scholar</a><br>
          <a href="/assets/pintercv.pdf">or via my cv.</a>
        </div>
      </div>
    </div>
