<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>anthony pinter</title>
  <meta name="description" content="anthony pinter">
  <meta name="keywords" content="anthony pinter">
  <meta property="og:url" content="https://www.anthonypinter.com">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="anthony pinter">
  <meta property="og:title" content="anthony pinter">
  <meta property="og:description" content="anthony pinter">
  <meta property="og:locale" content="en_US">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
  <link href="../css/fonts/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="../css/index.css" rel="stylesheet" type="text/css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../js/main.js"></script>

</head>
